<div class="jumbotron">
    <h2>Property Upload Application</h2>
    <p class="lead">Welcome to Real Estate file upload applicaiton.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Click on the 'Upload File' button in the top menu. We perform some clean-up on the agency’s data before importing it, meaning that we can’t just match the data....</p>
    </div>
    <div class="col-md-6">
        <h2>More Information</h2>
        <p>Sample test files can be found in the project folder 'TestUploadFiles'.</p>
        <p>Currently have implemented only the file upload and properities matching functionality against those stored in the database for the particular agent.</p>
        <p>To add a new agent will have add an enum value 'AgentCodeEnum' and have new implementation for 'IPropertyMatcher'</p>
        <p>As its a simple application with the query pattern for data access</p>
    </div>
</div>
